* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	box-sizing: border-box;
}
.wrapper {
	height: 100px;
	background-color: #ffffff;
	border-bottom: 2px;
	border-style: solid;
	border-color: #cccccc;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
#name {
	height: 90px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	margin-left: 10%;
	margin-top: 10px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 35px;
	padding-right: 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
}
#nav {
	padding: 15px;
	float: right;
	margin-right: 500px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.link1 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	color: #777777;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin: 9px;
	margin-top: 30px;
}
.link {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	color: #777777;
	text-decoration: none;
	border-left: 2px;
	border-style: solid;
	border-color: #f6f6f6;
	padding-left: 15px; 
	display: inline-block;
	float: left;
	margin: 9px;
	margin-top: 30px;
}
a:link {
	color: #777777;
	font-size: 14px;
	text-decoration: none;
}
a:visited {
	color: #777777;
	font-size: 12px;
	text-decoration: none;
}
a:hover {
	color: #4aaaa5;
	font-size: 16px;
	text-decoration: none;
}